html,
body {
    background-color: #C0DBF1;
}

.card {
    background-color: #ffe;
}

.btn-add {
    margin-bottom: 1.5em;
}

.navbar-blue .navbar-brand,
.navbar-blue .navbar-brand:focus,
.navbar-blue .navbar-brand:hover {
    color: #fff
}

.navbar-blue .navbar-nav .nav-link {
    color: #FFF
}

.navbar-blue {
    background-color: #142433;
    color: #FFF;
}

.dropdown-menu {
    background-color: #142433;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #14243c;
    color: #fff;
}
